@page
@model CoreCrud.Pages.Manufacturers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List of Manufacturers</h1>
<img src="~/Images/Publish.jpg" alt="Publish" width="300" height="100" float="right" />
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer[0].PublisherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer[0].Zipcode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Manufacturer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PublisherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zipcode)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
