@page
@model FinalProject.Pages.Memberships.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Delete member details</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Membership.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Membership.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Membership.MemberFrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.MemberFrom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Membership.ActiveMember)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.ActiveMember)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Membership.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Membership.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Membership.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Membership.Plan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.Plan.ID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Membership.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
